{% extends 'base.html' %}

{% block content %}

<section id="pageContent">
	<main role="main">
		{% if not saves %}
			<font color="red">{{error_message}}</font>
			<p>Por favor, indique quais pastas serão comparadas</p>
			<form action="/comparar", method="POST">
				<input type="text" id="save1" name="save1">
				<input type="text" id="save2" name="save2">
				<button type="submit">Comparar</button>
			</form>
			<br>
		{% else %}
		{% for save in saves %}
		<article>
			<p>Para o calendário definido por "{{save}}", temos as seguintes penalizações:<br></p><br>
				<UL>
					<LI>Tempo total necessário para as cirurgias : {{result[save]['a']}} (1x)<br>
					<LI>Número de cirurgias feitas fora do prazo : {{result[save]['a0']}} ({{config[save]['k0']}}x)<br>
					<LI>Tempo médio fora do prazo de tais cirurgias (caso existam) : {{result[save]['a1']}} ({{config[save]['k1']}}x)<br>
					<LI>Número de cirurgias feitas por especialistas de segundo grau : {{result[save]['a2']}} ({{config[save]['k2']}}x)<br>
					<LI>Número de cirurgias feitas por especialistas de terceiro grau : {{result[save]['a3']}} ({{config[save]['k3']}}x)<br>
				</UL>
			<p>Dando um score total de:</p><br>
			({{result[save]['a']}} X 1)+({{result[save]['a0']}} X {{config[save]['k0']}})+({{result[save]['a1']}} X {{config[save]['k1']}})+({{result[save]['a2']}} X {{config[save]['k2']}})+({{result[save]['a3']}} X {{config[save]['k3']}})
			<p>Ou seja: {{result[save]['a']*1+result[save]['a0']*config[save]['k0']+result[save]['a1']*config[save]['k1']+result[save]['a2']*config[save]['k2']+result[save]['a3']*config[save]['k3']}}</p>
			Lembrando que quanto maior o score, pior a performance do hospital simulado.
			<br><br>
		{% endfor %}
		{% endif %}
	</main>
</section>

{% endblock %}