{% extends 'base.html' %}

{% block content %}

<section>
	<strong> Valores das variáveis do hospital</strong>
</section>
<section id="pageContent">
	<main role="main">
		<article>
			<table>
				<label for="mesp">Médicos Especialistas:</label> {{get_hospital_values()['NumMedEsp']}}
				<form action="/novo_medico/especialista">
					<button type="submit">+</button>
				</form>
				<form action="/remover_medico/especialista">
					<button type="submit">-</button>
				</form>
			</table>
			<br>
			<table>
				<label for="mass">Médicos Assistentes:</label> {{get_hospital_values()['NumAsist']}}
				<form action="/novo_medico/assistente">
					<button type="submit">+</button>
				</form>
				<form action="/remover_medico/assistente">
					<button type="submit">-</button>
				</form>
			</table>
			<br>
			<table>
				<label for="mane">Médicos Anestesistas:</label> {{get_hospital_values()['NumAnest']}}
				<form action="/novo_medico/anestesista">
					<button type="submit">+</button>
				</form>
				<form action="/remover_medico/anestesista">
					<button type="submit">-</button>
				</form>
			</table>
			<br>
			<br>
			<table>
				<label for="cpos">Camas Pré Operação:</label> {{get_hospital_values()['NumCPrO']}}
				<form action="/nova_cama/pre">
					<button type="submit">+</button>
				</form>
				<form action="/remover_cama/pre">
					<button type="submit">-</button>
				</form>
			</table>
			<br>
			<table>
				<label for="cpos">Camas Pós Operação:</label> {{get_hospital_values()['NumCPO']}}
				<form action="/nova_cama/pos">
					<button type="submit">+</button>
				</form>
				<form action="/remover_cama/pos">
					<button type="submit">-</button>
				</form>
			</table>
			<br>
			<table>
				<label for="cres">Camas Repouso:</label> {{get_hospital_values()['NumCR']}}
				<form action="/nova_cama/rep">
					<button type="submit">+</button>
				</form>
				<form action="/remover_cama/rep">
					<button type="submit">-</button>
				</form>
			</table>
			<br>
			<br>
			<table>
				<label for="salas">Salas:</label> {{get_hospital_values()['NumSalOp']}}
				<form action="/nova_cama/sala">
					<button type="submit">+</button>
				</form>
				<form action="/remover_cama/sala">
					<button type="submit">-</button>
				</form>
			</table>
			<br>
		</article>
		<article>
			<table>
				<form action="/run_model/teste">
					<button type="submit">Rodar Teste</button>
				</form>
				<form action="/set_hospital/all/reset">
					<button type="submit">Resetar</button>
				</form>
				<form action="/set_hospital/all/last run">
					<button type="submit">Ultima Configuração</button>
				</form>
			</table>
		</article>
	</main>
	<aside>
		{% block aside %}{% endblock %}
	</aside>
</section>

{% endblock %}